<!DOCTYPE html>
{% load static %}
<!-- CSS CUSTOM -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<html>
    <link rel="stylesheet" href="base.css">
<head>
    <title>
        Pet It Out
        {% block title_block %}
        Website Website on the wall, who's the cutest of them all
        {% endblock %}
    </title>
    <div><h2 class = "title">Pet It Out</h2></div>
    <div id = "Login">
            {% if user.is_authenticated %}
            <!-- Show these links when the user is logged in -->
            <a href="{% url 'PetItOut:logout' %}">Logout</a>
            {% else %}
            <!-- Show these links when the user is NOT logged in -->
            <li><a href="{% url 'PetItOut:register' %}">Sign Up</a></li>
            <li><a href="{% url 'PetItOut:login' %}">Login</a></li>
            {% endif %}       
    </div>
        
    <div class="search-container">
        <form action="/action_page.php">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit">Search</button>
        </form>
    </div>
    <br>
    <hr>
</head>
<body>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
    <div>
        {% block sidebar_block %}
        {% endblock %}
        </div>
</body>
</html>