<!DOCTYPE html>
{% load static %}
<!-- CSS CUSTOM -->
<link rel="stylesheet" href="{% static 'css/base.css' %}">

<html>
    <head>
<title>
    Pet It Out
    {% block title_block %}
    Website Website on the wall, who's the cutest of them all
    {% endblock %}
</title>
<div class ="nav" >
  <h2><a href="{% url 'PetItOut:home_page' %}" style="text-decoration:none;">Pet It Out</h2>
  <a class = "Archive" href="{% url 'PetItOut:home_page' %}">Archive</a>
  <a class="HallOfFame" href="#HallOfFame">Hall of Fame</a>
    {% if user.is_authenticated %}
    <a id="img" href="{% url 'PetItOut:user_profile' user.username %}">
    <img class="user" src="{% static 'images/rango.jpg' %}" alt="Avatar" style="width:8%;height:120%;border-radius: 80%;top:-10%;"></a>
    <button class = "logout" type = "button"><a href="{% url 'PetItOut:logout' %}">Logout</a></button>
    {% else %}
    <form>
    <button class="Signup" formaction="{% url 'PetItOut:register' %}">Sign Up</button>
    </form>
    <form>
    <button class = "login"formaction="{% url 'PetItOut:login' %}">Login</button>
    </form>
    {% endif %}   
    <form  class="search" method="post">
          <input type="text" placeholder="Search.." name="search">
          <button type="submit">Search</button>
    </form>
</div>

<footer>
    <button onclick="topFunction()" id="backTopButton">↑</button>
</footer>
<body>
    <div>
        {% block body_block %}
        {% endblock %}
    </div>
    <div>
        {% block sidebar_block %}
        {% endblock %}
        </div>
<script>
let mybutton = document.getElementById("backTopButton");

function topFunction(){
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
</body>
</html>