{% extends 'PetItOut/base.html' %}
{% load static %}

{% block title_block %}
Battle Details
{% endblock %}

{% block body_block %}
        <style>
            .introduction{
                text-align: center;
            }

            .both_sides{
                display: grid;
                grid-template-columns: 1fr 1fr;
            }

            .left_side{
                height: auto;
                background-color: antiquewhite;
            }

            .rows_for_pet_information {
                display:grid;
                grid-template-rows: auto 20px 30px 1fr auto auto auto;
            }

            .profile_and_vote_button {
                display: grid;
                grid-template-columns: 3fr 2fr;
                place-items: center;
            }

            .profile_pic {
                height: 150px;
                width: 150px;
                border-radius: 150px;
                object-fit: cover;
                text-align: center;
            }

            .vote_button {
                background-color: red;
                height: 80%;
                width: 80%;
                padding-right: 20%;
                float: left;
            }

            .likes_and_percentages {
                text-align: right;
            }

            .percentage_bar {

            }

            .pet_info {
                display: grid;
                grid-template-rows: 50px 1fr;
            }
            .attributes {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
            }
            .bio {

            }
        </style>

    </head>

    <body>
        <div class="introduction">
            <h1>Henry vs Catherine</h1>
            <h2>Battle of the century</h2>
        </div>
        <div class="both_sides">
            <div class = "left_side">
                <div class="rows_for_pet_information">
                    <div class="profile_and_vote_button">
                        <img src="../../static/images/dummy_cat.jpeg" class = "profile_pic" alt="Picture of pet">
                        <button class = vote_button >VOTE</button>
                    </div>
                    <p class = "likes_and_percentages">
                        36/122%
                    </p>
                    <div class="percentage_bar">
                        <p>this is where percentage bar will go</p>
                    </div>
                    <div class = "attributes">
                        <p>Age:</p>
                        <p>Type:</p>
                        <p>Sex:</p>
                    </div>
                    <p class = "bio">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis facere ducimus incidunt enim sint dolorem, commodi illum possimus quibusdam accusamus odio culpa eligendi in recusandae necessitatibus fugit ipsa inventore reiciendis!
                    </p>
                    <h1>Pictures of henry:</h1>
                    <div class = "gallery">
                        <img src="../../static/images/dummy_cat.jpeg" class = "gallery_pic" alt="Picture of pet">
                        <img src="../../static/images/dummy_cat.jpeg" class = "gallery_pic" alt="Picture of pet">
                        <img src="../../static/images/dummy_cat.jpeg" class = "gallery_pic" alt="Picture of pet">
                        <img src="../../static/images/dummy_cat.jpeg" class = "gallery_pic" alt="Picture of pet">
                        <img src="../../static/images/dummy_cat.jpeg" class = "gallery_pic" alt="Picture of pet">
                    </div>
                </div>
            </div>
        </div>
{% endblock %}