{% extends 'PetItOut/base.html' %}
{% load static %}


{% block title_block %}
Pet It Out!!
{% endblock %}

{% block body_block %}
<script src="{% static 'javascript/battleBar.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/home_page.css' %}">

    </head>

    <body>
        
        <div class = "sidebar_and_battles">

            <div class = "sidebar"></div>

            <div class = "battle_shortform">
                <div class = "pet_name_and_pic">
                    <p class = "left_name">petname1</p>

                    <div style = "text-align: center;">
                        <img src="../../static/images/dummy_cat.jpeg" class = "pet_pic" alt="Profile pic of cat">
                    </div>
                </div>      
                <div class = "battle_info">
                    <div class = "likes_texts"> 
                            
                    </div>
                    <div class="pk-detail-con">
                        <div class="progress" >
                          <div id="progress-bar" style="width: 50%;">
                          </div>
                        </div>
                        <span id="vnums-l" class="vote-nums">0</span>
                        <span id="vnums-r" class="vote-nums">0</span>
                        <button class="vote-nums vnums-b" onclick="moveBlue()">vote me!</button>
                      <button class="vote-nums vnums-red" onclick="moveRed()">vote me!</button>
                    </div>
                    <br>
                    <br>
                    
                    <br>
                    <div style = "text-align: center;">
                        <button class = "button_to_go_to_detailed_battle">See Detailed Battle</button>
                    </div>
                </div>      
                <div class = "pet_name_and_pic">
                    <p class = "right_name">petname2</p>

                    <div style="text-align: center;">
                        <img src="../../static/images/dummy_cat.jpeg" class = "pet_pic" alt="Profile pic of cat">
                    </div>
                </div>
            </div>
        </div>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script>

        var x = null;
        function moveBlue(){
        if(x==null){
          var blueBar = document.getElementsByClassName("progress-bar");
          
          var parentWidth = $('.progress-bar').offsetParent().width();
          var width = $('.progress-bar').width();
          var i = Math.round(100*width/parentWidth);
              var write =  parseInt($("#vnums-l").text())+1;
              var writeString = write.toString();
                x=1;
              document.getElementById("vnums-l").innerHTML=writeString;      
              var oppo = parseInt($("#vnums-r").text());      
              var result = write/(write+oppo)*100;
              $("#progress-bar").css("width", result+"%");
              
        }
        else{
        alert("can only vote once!");
        }
        }
        function moveRed(){
        if(x==null){
          var blueBar = document.getElementsByClassName("progress-bar");
          x=1;
          var parentWidth = $('.progress-bar').offsetParent().width();
          var width = $('.progress-bar').width();
          var i = Math.round(100*width/parentWidth);
              var write =  parseInt($("#vnums-r").text())+1;
              var writeString = write.toString();
           
              document.getElementById("vnums-r").innerHTML=writeString;      
              var oppo = parseInt($("#vnums-l").text());      
              var result = oppo/(write+oppo)*100;
              $("#progress-bar").css("width", result+"%");
              
        }
        else{
        alert("can only vote once!");
        }
        }
        </script>
        
{% endblock %}