{% extends 'PetItOut/base.html' %}
{% load static %}


{% block title_block %}
- battles
{% endblock %}

{% block body_block %}
<h1>Welcome To Pet It Out!</h1>
{% if battle_views %}
    {% for battle_view in battle_views %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="{{ battle_view.petprofileRed.pet_picture.url }}" class="img-fluid rounded-start" alt="Profile Image">
        </div>
        <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{battle_view.petprofileRed.userprofile.user.username}}</h5>
              <p class="card-text">battle with {{battle_view.petprofileBlue.userprofile.user.username}}</p>
              <p class="card-text"><a href="{% url 'PetItOut:battle' battle_view.battleName %}">see battle</a></p>
              <br/><br/>
            </div>
          </div>
        </div>
      </div>
      <br/><br/>
      {% endfor %}
      {% endif %}
{% endblock %}