{% extends "PetItOut/base.html" %}
{% load static %}


{% block body_block %}
<div style="position:absolute;left:43%;top:20%;">
<h1>Register for PetItOut</h1>
</div>
{% if registered %}
    <strong>thank you for registering!</strong> 
<a href="{% url 'PetItOut:home_page' %}">Return to the homepage.</a><br />
{% else %}
<div style="position:absolute;left:35%;top:30%;">
<strong style="position:absolute;left:32%;">register here!</strong><br />
<form id="user_form" method="post" action="{% url 'PetItOut:register' %}"
enctype="multipart/form-data">
{% csrf_token %}
<!-- Display each form -->
{{ user_form.as_p }}
{{ profile_form.as_p }}
<!-- Provide a button to click to submit the form. -->
    <input type="submit" name="submit" value="register" style="position:absolute;left:33%;"/>
</form>
</div>
{% endif %}
{% endblock %}
