#Login {
    position:fixed;
    right:2%;
    top:-15px;
}

.search-container{
    float:top;
    text-align: center;
}



.title {
    display:block;
    text-align: left;
    position:fixed;
    top:-15px;
}

